body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url(../ChannelPictures/IMG_20221103_130426-2.jpg);

  /* Full height */
  height: 10%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.summary {
    padding: 10px;
    margin-top: 0px;
}

.projectGeneralTextLayout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

    color: #777;
    background-color: white;
    text-align:center;
    text-align: justify;

    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 50px;
}

/* .projectPictures {
    max-width: 800px;
    position: relative;
    margin: auto;
} */


/* slice show -----------------------------------------------------------------------------*/
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  max-width: 800px;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  max-width: 800px;
  margin: auto;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

@media screen and (max-width: 768px){
  .projectGeneralTextLayout {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
}
  .mySlides iframe{
    width: 100%;
    height: 100%;
    height: auto;
  }
}